/* Estilos aplicados à pagina index.html */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Kdam+Thmor+Pro&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
.center{
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 20px;
    background-color: #172262;

}

#menu li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#menu li a:hover{
    color: #808080;
}

.texto, .imagem{
    padding: 30px;
}

.social-media{
    width: 50px;
    height: 50px;
    padding: 20px;
}

.font{
    font-size: 28px;
}

.justify{
    text-align: justify;
}

/* Estilos aplicados à pagina contato.html */

.endereco{
    margin-left: 50px;
}

.mb-50{
    margin-bottom: 50px;
}